* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 16px;
}
.container {
  width: 500px;
  padding: 24px;
  background: #141e61;
  border-radius: 8px;
}
.uploader {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px dashed #787a91;
  background: #eeeeee;
}
.uploader img {
  display: block;
  width: 56px;
  height: 56px;
  cursor: pointer;
}
.uploader.active img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.uploader.active input {
  display: none;
}
.content {
  margin: 24px 0 0 0;
}
.row {
  display: flex;
  justify-content: space-between;
}
.size .column {
  width: 50%;
}
.size .column label {
  font-size: 20px;
  color: #eeeeee;
}
.size .column input {
  width: 100%;
  height: 56px;
  outline: none;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #787a91;
}
.size .column input:focus {
  padding: 0 16px;
  border: 4px solid #787a91;
}
.check {
  margin: 24px 0 0 0;
}
.check .column {
  display: flex;
  align-items: center;
}
.check .column input {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
}
.check .column label {
  font-size: 20px;
  color: #eeeeee;
}
.download {
  display: block;
  width: 100%;
  height: 40px;
  text-decoration: none;
  font-size: 20px;
  margin: 32px 0 16px;
  cursor: pointer;
}
.download button {
  color: #eeeeee;
  display: block;
  width: 100%;
  height: 100%;
  background: #787a91;
  border-radius: 16px;
  outline: none;
  border: none;
}
