* {
  box-sizing: border-box;
}
body {
  background: #fff;
  overflow: hidden;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  align-items: flex-start;
}
.card {
  background: #fff;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 0.25rem;
}
h2,
p {
  margin: 0;
}
h2 {
  margin-bottom: 1rem;
}
/* .cutoff-text {
  --max-lines: 3;

  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  overflow: hidden;
  -webkit-box-orient: vertical;
} */

.cutoff-text {
  --max-lines: 5;
  --line-height: 1.4;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}
.cutoff-text:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #fff);
}

.expand-btn {
  appearance: none;
  border: 1px solid #333;
  padding: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1rem;
}

.expand-btn::hover {
  background: #ccc;
}
.expand-btn::before {
  content: "もっと見る";
}
.expand-btn:checked::before {
  content: "閉じる";
}
.cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
}
