* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #333;
  height: 100vh;
  position: relative;
}
.fv {
  width: 100%;
  padding: 0 100px;
  display: flex;
  height: calc(100% - 200px);
  position: absolute;
  top: 100px;
  z-index: 100;
}
.modal {
  position: relative;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #333;
}
.modal:last-child {
  border-right: none;
}
.modal-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 動きの遅延 */
  transition: 0.5s;
  opacity: 0.5;
}
/* <div class="modal-img active">の時のスタイル */
/* activeがついたときにモーダル表示する */
.modal-img.active {
  position: fixed;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  z-index: 200;
  opacity: 1;
}
/* マウスホバーした時に明るくする */
.modal-img:hover {
  opacity: 1;
}
.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
