* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 400px;
  height: 400px;
  background: red;
  /* animation: anime;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-timing-function: linear; */
  animation: anime 4s linear 1s infinite alternate;
}
@keyframes anime {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
