* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p::selection {
  color: blue;
}
p::selection {
  text-decoration: underline;
}
p::selection {
  color: #fff;
  background: red;
  text-decoration: underline;
}
