* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: red;
  width: 100%;
  height: 600px;

}
.container h1{
  color: #fff;
}

.wrapper {
  background: blue;
  width: 100%;
  height: 600px;
}
.wrapper h1{
  color: #fff;
  margin-left: 50px;
  /* marginは外につくので直前の要素から離れることがある */
  /* margin-top: 50px; */
  padding-top: 50px;
}
