* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 64px;
}
div {
  width: 200px;
  height: 200px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.container {
  background: red;
  /* 右回り */
  transform: rotate(45deg);
  /* 左回り */
  transform: rotate(-45deg);
  /* 1turnで１回転になる */
  transform: rotate(0.5turn);
  transform: rotate(1.1turn);
  transform: rotateX(45deg);
  transform: rotateY(45deg);
}
.wrapper {
  background: blue;
  transform: scale(1.5);
  transform: scaleX(1.5);
  transform: scaleY(1.5);
  /* scale(1.5)と同じ意味 */
  transform: scale(1.5, 1.5);
  transform: scale(1.5, 0.7);
}
.inner {
  background: green;
  /* transform: translateX(50px); */
  /* transform: translateX(-50px); */
  /* transform: translateY(50px); */
  /* transform: translateY(-50px); */
  /* transform: translate(50px, 50px); */
  /* これはscaleのようなショートハンドではなくtranslateXのみの指定になるので注意 */
  /* transform: translate(50px); */
  position: relative;
}
.inner::after {
  content: "";
  width: 100px;
  height: 100px;
  background: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  /* 50%にしても左上を起点にするため中央にならないため、translateで戻すことで中央にできる仕組み */
  transform: translate(-50%, -50%);
}
.box {
  background: purple;
  transform: skew(45deg);
  transform: skew(-45deg);
  /* transform: skew(30deg, 30deg); */
  /* skewもショートハンドがなく単一だとYが0になるだけなので注意 */
  transform: skew(30deg);
}
.row {
  background: orange;
  /* transformは複数のプロパティを同時に指定できる */
  transform: scale(1.8, 1.2) rotate(45deg);
}
.card {
  /* 複数プロパティを指定している要素に一部だけ上書きすることはできない。毎回リセットされる */
  /* transform: rotate(0deg); */
  /* これなら上書きしたことになる */
  transform: scale(1.8, 1.2) rotate(0deg);
}
