* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.box {
  display: flex;
  justify-content: space-between;
  height: 250px;
  border: 1px solid gray;
}
.box div {
  width: 40%;
  height: 100%;
  background: gray;
}
.box p {
  width: 60%;
  height: 100%;
  padding: 16px;
}
.box:nth-child(2n) {
  flex-direction: row-reverse;
}
.box:nth-child(2n - 1) p {
  padding-right: 32px;
}
.box:nth-child(2n) p {
  padding-left: 32px;
}
