* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products {
  margin: 16px;
  border-collapse: collapse;
}
thead tr {
  background: #f7c04a;
}
td,
th {
  border: 1px solid #333;
  padding: 8px;
  width: 100px;
}
th {
  cursor: pointer;
}
td {
  text-align: center;
}

.asc::after {
  content: "\25b4";
  margin-left: 5px;
}

.desc::after {
  content: "\25be";
  margin-left: 5px;
}
