* {
  /* htmlの親要素ではなく、ドキュメント内のすべての要素を選択するもの(htmlの親要素はなくhtmlが最上位) */
  /* bodyも含め全てのタグの余白のリセットが効くためhtml,bodyとは違う役割で必要なセレクタ */
  margin: 0;
  padding: 0;
  /* 一方で背景などをここで書いてしまうと入れ子の子要素にはここで書いたものが反映されるので注意。背景であればbodyが適している */
  background: blue;
}
html {
}
body {
  /* bodyに余白のリセットを書いてもタグごとのデフォルトの余白はリセットできない(bodyタグの余白のみ無くなるだけ) */
  /* margin: 0;
  padding: 0; */
  background: blue;
}
/* 入れ子のdivは子要素のpにユニバーサルで指定した方が当たってしまい継承度では子要素が勝つので意図したスタイルにならない */
div {
  background: red;
}
