* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* @starting-styleで最初のスタイル(chromeのみ) */
  /* 0%~100%のようなシンプルなアニメーションは@keyframesとanimationを書かなくても良い */
  @starting-style {
    opacity: 0;
  }
  transition: opacity 2s;
  opacity: 1;
  padding: 32px;
}
/* よくある悩みケースに応用 */
/* JSでクラス名を追加して表示させる方法(cssでtransitionが使えない) */
/* .remain {
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.remain.show {
  display: block;
  opacity: 1;
} */
/* .remain {
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.remain.show {
  @starting-style {
    opacity: 0;
  }
  display: block;
  opacity: 1;
} */
