* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}
.popup {
  width: 320px;
}
.picker {
  background: #eee;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}
.btn {
  outline: none;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  background: #333;
  font-weight: bold;
}
.picked {
  margin: 8px 16px;
}
.clear {
  cursor: pointer;
  text-align: right;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.color {
  cursor: pointer;
  margin: 8px 0;
  width: 49%;
}
.rect {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #ccc;
  background: #333;
}
.value {
  font-weight: bold;
}
.hidden {
  display: none;
}
