/* 1. インライン要素のまま揃える */
/* .text {
  background: #002379;
  padding: 8px 32px;
}
.title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-right: 16px;
  vertical-align: middle;
}
.sub {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
} */

/* フレックスボックスで揃える */
.text {
  background: #002379;
  padding: 8px 32px;
  display: flex;
  align-items: center;
}
.title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-right: 16px;
}
.sub {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
