* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 64px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
  background: #333;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  /* 最初は隠しておく */
  transform: scale(0, 1);
  height: 2px;
  background: #fff;
  transition: transform 0.2s;
}
a:hover::after {
  transform: scale(1, 1);
}
