* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  border-top: 1px solid #fff;
  background: #333;
  width: 100%;
  height: 70px;
}
ul {
  list-style: none;
  width: 100%;
}
ul.parent {
  display: flex;
}
ul.child {
  display: none;
}
li {
  width: 100%;
  text-align: center;
  line-height: 70px;
  position: relative;
}
li.has-child:hover ul.child {
  display: block;
  width: 130px;
  background: #666;
  position: absolute;
  top: 70px;
  left: 30%;
  /* 下の要素に重ねるため */
  z-index: 10;
}
li.has-child:hover ul.child li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 4px 8px;
  background: #666;
}

a {
  text-decoration: none;
  color: #fff;
}
