* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section1 {
  width: 100%;
  height: 800px;
  background: #40a2d8;
  position: relative;
}
.section2 {
  width: 100%;
  height: 800px;
  background: #fff;
  position: relative;
}
.section1::before {
  content: "";
  width: 50%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 0;
  background: #fff;
  transform: skewY(10deg);
}
.section1::after {
  content: "";
  width: 50%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  right: 0;
  background: #fff;
  transform: skewY(-10deg);
}
