* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-snap-type: none;
  /* 次のセクションに移動 */
  scroll-snap-type: y mandatory;
  /* 今いるところから近い場所に移動 */
  /* scroll-snap-type: y proximity; */
  /* sectionタグでscroll-margin-top:50px;でもOK */
  scroll-padding-top: 50px;
}
section {
  /* scroll-margin-top: 50px; */
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.section1 {
  background: #025464;
}
.section2 {
  background: #e57c23;
}
.section3 {
  background: #e8aa42;
}
.section4 {
  background: #f8f1f1;
}
