* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  /* display: grid; */
  /* gap: 16px; */
  /* pxと混ぜるとfrは残りの幅になる */
  /* grid-template-columns: 240px 1fr; */
  display: flex;
  max-width: 720px;
  padding: 16px;
}
img {
  max-width: 100%;
}
/* @media (max-width: 767px) {
  article {
    grid-template-columns: auto;
  }
} */
.content {
  flex: 1;
}
@media (max-width: 767px) {
  article {
    flex-direction: column;
  }
}
