* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container,
.wrapper {
  display: flex;
}
.container div {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
}
/* 子要素の中での順番 */
/* .container div:nth-child(2) {
  background: red;
} */
/* .container p:nth-child(1) {
  background: red;
} */
.container div:nth-child(2) {
  background: red;
}
.wrapper div {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
}
/* セレクタを判別してくれる */
.wrapper div:nth-of-type(1) {
  background: red;
}
