* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 16px;
}
.container {
  background: #eee;
}
h2 {
  font-size: 48px;
  padding: 16px;
}
p {
  padding: 16px;
  color: #fff;
  background: #362fd9;
  animation: displayText 0.4s ease-in-out forwards;
  transform-origin: right;
}
@keyframes displayText {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
